.icon-mtags{
	float:left;
	height:36px;
	margin-bottom:0;
	margin-left:0;
	margin-right:6px;
	margin-top:14px;
	width:36px;
	background:url('<?php echo WP_PLUGIN_URL; ?>/mtags-lite/img/mtags-ico-page.png') no-repeat;
}